<footer class="main-footer">
    <strong>@DateTime.Now.Year &copy; <a href="/">TeknoMarketim</a></strong>
    - Geleceğin Teknolojisi & Robotik Market

    <div class="float-right d-none d-sm-inline-block">
        <b>Geliştiren:</b> Nursemin Yıldırım
    </div>
</footer>