﻿<div class="logo_products">
    <div class="container">

        @* Sol Taraf: İletişim *@
        <div class="w3ls_logo_products_left1">
            <ul class="phone_email">
                <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>Hızlı Destek: (+90) 5xx xxx xx xx
                </li>
            </ul>
        </div>

        @* Orta Taraf: Marka İsmi (Logo) *@
        <div class="w3ls_logo_products_left">
            <h1><a href="/HomePage/Index">Tekno<span>Marketim</span></a></h1>
        </div>

        @* Sağ Taraf: Arama Çubuğu *@
        <div class="w3l_search">
            <form action="/HomePage/SearchProduct" method="get">
                <input type="search" name="q" placeholder="Robot, sensör veya kart ara..." required="">
                <button type="submit" class="btn btn-default search" aria-label="Arama Yap">
                    <i class="fa fa-search" aria-hidden="true"> </i>
                </button>
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>