@using TeknoMarketim.MvcUI.Models.ProductModel
@model ProductListModel
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="products">
    <div class="container">
        @* Sol Sütun: Kategoriler *@
        <div class="col-md-4 products-left" style="margin-top:40px">
            <div class="categories">
                <h2>Kategoriler</h2>
                <ul class="cate">
                    @await Component.InvokeAsync("CategoryList")
                </ul>
            </div>
        </div>

        @* Sağ Sütun: Ürünler *@
        <div class="col-md-8 products-right">
            <div class="agile_top_brands_grids">
                <div class="row mb-5">
                    @foreach (var product in Model.Products)
                    {
                        <partial name="_PartialProductList" for="@product" />
                    }
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div> 