<ul id="demo1">
    <li src="~/home/image/11.jpg"alt"">
        <div class="slide-desc">

            <h3>Teknolojiye Dair Her Şey TeknoMarketim'de!</h3>

        </div>
    </li>

    <li src="~/home/image/22.jpg" alt"">
        <div class="slide-desc">
        
            <h3>Geleceği Şekillendiren Bileşenler, Uygun Fiyatlarla Kapınızda.</h3>

        </div>
    </li>

    <li src="~/home/image/44.jpg" alt"">
        <div class="slide-desc">

            <h3>Kaliteli Ürün, Hızlı Teslimat ve Teknik Destek.</h3>

        </div>    
    </li>

</ul>